.nav-portfolio {    
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  border-right: 1px solid rgba(85,82,124,.1);
  width: 370px;
  background-color: #fff;

  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 533px;
    overflow: hidden;
    outline: none;
    width: 100%;
    float: left;
  }

  &__link {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0  ;
    }
  }

  &__copy-right {
    text-align: center;
    position: absolute;
    bottom: 50px;

    @media (max-width: 1600px){
      bottom: 30px;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  &__text {
    color: #184167;
  }

  @media (max-width: 1600px){
    width: 300px;
  }

  @media (max-width: 1040px){
    display: none;
  }
}

.nav-portfolio-topbar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 60px;
  background-color: #fff;
  z-index: 15;
  display: none;

  @media (max-width: 1040px){
    display: block;
  }

  &__inner {
    width: 100%;
    height: 100%;
    clear: both;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
  }

  &__trigger {
    position: relative;
    top: -2px;
  }

  &__hambuger {
    width: 50px;
    height: 40px;
    transform: rotate(180deg);
  }
}

.nav-portfolio-menumobi {
  position: fixed;
  top: 50px;
  right: -200px;
  height: 100vh;
  width: 200px;
  z-index: 15;
  background-color: #fff;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;

  &.open {
    right: 0;
  }

  &__menu {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: right;
    padding: 50px 20px 20px 20px;

    .nav-portfolio__copy-right {
      position: initial;
      text-align: right;

      .nav-portfolio__socials {
        justify-content: end;
      }
    }
  }

  &__list {
    margin-bottom: 50px;
  }
}