.portfolio-page {
  width: 100%;
  min-height: 100vh;
  clear: both;
  float: left;
  padding-left: 370px;
  background-color: #EFFBF8;

  &__content {
    width: 100%;
    height: auto;
    clear: both;
  }

  .home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center
  }

  .about {
    padding-top: 80px;
    background-color: #FFFFFF;
  }

  @media (max-width: 1600px){
    padding-left: 300px;
  }
  
  @media (max-width: 1040px){
    padding: 80px 0px;
    
    .about {
      padding-top: 40px;
    }
  }
}